@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
  height: 100%;
  background-color: tomato;
  background-image: linear-gradient(yellow, #ff6347);
  background-repeat: no-repeat;
  font-family: "Indie Flower", cursive, Helvetica, Arial, sans-serif;
  font-size: large;
  color: brown;
}
.container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto 500px;
  grid-template-areas:
    ". imge ."
    "eatme form yummy";
}

.image {
  grid-area: imge;
  place-self: center;
}

.form {
  grid-area: form;
  justify-self: center;
  align-self: top;
  padding-top: 1rem;
  #addBurger {
    justify-self: right;
  }
}

.eatme,
.yummy {
  justify-self: center;
  align-self: start;
  border: 1px dotted brown;
  background-color: cornsilk;
  h3 {
    text-align: center;
  }
}

.eatme {
  grid-area: eatme;
}

.yummy {
  grid-area: yummy;
}

li {
  justify-content: stretch;
  list-style-type: none;
  padding: 10px;

  button {
    margin-left: 5px;
  }
}

@media (max-width: 700px) {
  body {
    background-color: #ff6347;
  }
  .container {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
      "eatme imge "
      "yummy form ";
  }
  .eatme,
  .yummy {
    justify-self: left;
    align-self: start;
    h3 {
      text-align: center;
    }
  }
  li {
    padding: 0;
  }
}
