.container {
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "eatme imge yummy"
    "eatme form yummy";
}

.image {
  grid-area: imge;
  place-self: center;
}

.form {
  grid-area: form;
  place-self: center;
  padding-top: 1rem;
  #form {
    height: 20px;
  }
}

.eatme,
.yummy {
  justify-self: center;
  align-self: end;
  text-align: left;
  h3 {
    text-align: center;
  }
}

.eatme {
  grid-area: eatme;
}

.yummy {
  grid-area: yummy;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid burlywood;
  padding: 10px;

  button {
    margin-left: 5px;
  }
}
