<h1>Burgers Up!</h1>

<p>Eat delicious burgers</p>

<!-- Pass in data from server.js -->
<ul>
  {{#each burgers}}
  <li>
    <p><span class="label">ID:</span> {{this.id}}</p>
    <p><span class="label">Burger Name:</span> {{this.burger_name}}</p>
    <p><span class="label">Devoured?</span> {{this.devoured}}</p>

    <button data-id="{{this.id}}" class="addBurger">Add</button>

  </li>
  {{/each}}
</ul>