doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href="/dist/css/main.css")
    link(rel="shortcut icon" type="image/png" href="/dist/img/burger2_smaller.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="/js/burger.js")
